h1 {
    font-style: italic;
    align-items: center;
    color: blueviolet;
    
}

p {color: blue;
    font-style: normal;
}

img {align-items: center;

}

.class {
    display:flex

}

.class > div {
    background-color: red;
    width: 50px;
    font-size: 20px;
    margin: 40px;
    padding: 40px;
    flex-wrap: 100px;
}