h1 {
    font-style: italic;
    text-align: center;
    color: blueviolet;
    margin: auto;
    
}

p {color: blue;
    font-style: normal;
    text-align: center;
}

img {
       display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
      }



.class {
    display:flex
    

}

.class > div {
    background-color: red;
    width: 50px;
    font-size: 20px;
    align-content: center;
    margin: 50px;
    padding: 50px;
    flex-wrap: width 60px, height 60px;
}