h1 {
    font-style: italic;
    align-items: center;
    color: blueviolet;
    
}

p {color: blue;
    font-style: normal;
    align-items: center;
}

img {align-items: center;

}

.class {
    display:flex
    

}

.class > div {
    background-color: red;
    width: 100px;
    font-size: 20px;
    align-content: center;
    margin: 40px;
    padding: 40px;
    flex-wrap: width 150px, height 200px;
}